@media screen and (min-width: 320px) and (max-width: 500px) {
  .header{
    grid-template-columns: repeat(1, 1fr);
  }
  .container{
    width: 100%;
  }

  .complex-care{
    &-cases{
      grid-template-columns: repeat(1, 1fr);
      &__item{
        width: 100%;
      }
    }
  }

  .navigation{
    &-list{
      &__item{
        display: block;
      }
    }
  }

  .quality{
    &__wrapper{
      padding: 30px 0;
    }
    &__title{
      font-size: 30px;
      text-align: center;
    }
    &__subtitle{
      font-size: 24px;
      margin: 10px 0 10px;
      text-align: center;
    }
    &__text{
      line-height: normal;
      text-align: center;
    }
    &__form{
      width: 95%;
      grid-template-columns: repeat(1, 100%);
      grid-row-gap: 20px;
      .btn{
        white-space: normal;
      }
    }
  }

  .causes{
    &-list{
      display: grid;
      grid-template-rows: repeat(10, 1fr);
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
    }
  }
}