@import "../../../node_modules/normalize.css/normalize.css";
@import "fonts";
@import "variables";
@import "../../components/header/header";
@import "../../components/main/main";
@import "../../components/footer/footer";

.container{
  width: 1170px;
  margin: auto;
}

.line{
  height: 3px;
  background-color: white;
  border: none;
  width: 96%;
  margin-right: 4%;
}

.input-field{
  font-family: $headers-font-regular;
  padding: 7px 16px;
  font-size: 18px;
  border-radius: 5px;
  color: black;
  border: 2px solid grey;
}

.btn{
  font-family: $headers-font-regular;
  background-color: $secondary-color;
  border-radius: 5px;
  border: 2px solid rgb(11, 122, 176);
  padding: 7px 16px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:hover{
    background-color: rgb(11, 122, 176);
  }
}

.message-ok{
  color: white;
  @include text-shadow;
  animation: fadeIn 0.3s 1 linear;
  p{
    margin: 0;
  }
  &--footer{
    margin-bottom: 15px;
    animation: fadeInFooter 0.3s 1 linear;
  }
}

@keyframes fadeIn {
  from{opacity: 0; height: 0;}
  to{opacity: 1; height: 18px;}
}

@keyframes fadeInFooter {
  from{opacity: 0; height: 0;}
  to{opacity: 1; height: 36px;}
}

.popup-overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  display: none;
  z-index: 1000;

  .popup-form{
    margin: auto;
    top: calc(50% - 73px);
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    animation: formBlockAnim 0.3s 1 linear;
    z-index: 9999;
    &__notification{
      text-align: center;
      font-size: 20px;
      color: white;
      border: 1px solid gray;
      padding: 5px 6px;
      background-color: $main-color;
      border-radius: 5px;
      animation: notifAnimation 0.3s 1 linear;
      &--error{
        background-color: #e53835;
      }
    }
    &__close{
      position: absolute;
      top: -8px;
      right: 0;
      transition: all 200ms;
      font-size: 35px;
      font-weight: bold;
      text-decoration: none;
      color: #e53835;
      cursor: pointer;
      font-family: $headers-font-bold;
      transition: color 0.3s ease-in-out;
      &:hover{
        color: $main-color;
      }
    }
    p{
      font-family: $headers-font-regular;
      font-size: 22px;
      text-align: center;
    }
    span{
      color: rgb(199, 29, 26);
    }
    input[type="text"]{
      border-width: 2px;
      padding: 10px 12px;
      height: 44px;
      border-radius: 5px;
      line-height: 20px;
    }
    input[type="submit"] {
      display: block;
      width: 50%;
      margin: 15px auto 0 auto;
    }
  }

  .popup-fullcase{
    margin: auto;
    top: calc(50% - 400px);
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 5s ease-in-out;
    animation: fullcaseAnim 0.3s 1 linear;
    z-index: 9999;
    width: 30%;
    &__close{
      position: absolute;
      z-index:1;
      top: -10px;
      right: 10px;
      transition: all 200ms;
      font-size: 50px;
      font-weight: bold;
      text-decoration: none;
      color: rgb(199, 29, 26);
      cursor: pointer;
      font-family: $headers-font-bold;
      transition: color 0.3s ease-in-out;
      &:hover{
        color: black;
      }
    }
    img{
      width: inherit;
    }
  }
  .popup-gallery{
    @extend .popup-fullcase;
    width: 55%;
  }
}


/*Slider popup*/
.popup-slider-overlay {
  @extend .popup-overlay;
  overflow-y: scroll;
  .popup-slider{
    margin: auto;
    top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 5s ease-in-out;
    animation: fullcaseAnim 0.3s 1 linear;
    z-index: 9999;
    width: 40%;
    &__close{
      position: absolute;
      top: 0px;
      right: 10px;
      transition: all 200ms;
      font-size: 40px;
      font-weight: bold;
      text-decoration: none;
      color: rgb(199, 29, 26);
      cursor: pointer;
      font-family: $headers-font-bold;
      transition: color 0.3s ease-in-out;
      z-index: 1;
      &:hover{
        color: black;
      }
    }
    img{
      width: 100%;
    }
  }
}
/**************/

@media screen and (min-width: 1367px) and (max-width: 1500px){
  .popup-overlay {
    .popup-form{
      input[type="submit"] {
        width: 70%;
      }
    }
    .popup-fullcase{
      width: 35%;
      top: calc(50% - 335px);
    }
    .popup-gallery{
      width: 55%;
      top: calc(50% - 300px);
    }
  }

  .popup-slider-overlay{
    .popup-slider{
      width: 50%;
    }
  }

}

@media screen and (min-width: 1200px) and (max-width: 1366px){
  .popup-overlay {
    .popup-form{
      input[type="submit"] {
        width: 70%;
      }
    }
    .popup-fullcase{
      width: 40%;
      top: 25px;
    }
    .popup-gallery{
      width: 55%;
      top: calc(50% - 300px);
    }
  }

  .popup-slider-overlay{
    .popup-slider{
      width: 50%;
    }
  }

}

.slick-next, .slick-prev{
  width: 100px;
  height: 100px;
}
.slick-next{
  right: -105px;
}

@media screen and (min-width: 1024px) and (max-width: 1199px){
  .popup-overlay {
    .popup-form{
      input[type="submit"] {
        width: 80%;
      }
    }
    .popup-fullcase{
      width: 40%;
      top: calc(50% - 300px);
    }
  }

  .popup-slider-overlay{
    .popup-slider{
      width: 60%;
    }
  }

}

@keyframes popupAnimOpen {
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes popupAnimClose {
  from{opacity: 1;}
  to{opacity: 0;}
}

@keyframes formBlockAnim {
  from{top: -100px;}
  to{top: 30%;}
}

@keyframes fullcaseAnim {
  from{top: -100px;}
  to{top: 100px;}
}

@keyframes notifAnimation {
  from{opacity: 0;}
  to{opacity: 1;}
}


@media screen and (min-width: 901px) and (max-width: 1200px){
  .container{
    width: 100%;
  }
}


@import "mobile-styles";
@import "tablet-styles";