@import "../../../node_modules/normalize.css/normalize.css";
@import "fonts";
@import "variables";
@import "../../components/header/header";
@import "../../components/main/main";
@import "../../components/footer/footer";

.container{
  width: 1170px;
  margin: auto;
}

.line{
  height: 3px;
  background-color: white;
  border: none;
  width: 96%;
  margin-right: 4%;
}

.input-field{
  font-family: $headers-font-regular;
  padding: 7px 16px;
  font-size: 18px;
  border-radius: 5px;
  color: black;
  border: 2px solid grey;
}

.btn{
  font-family: $headers-font-regular;
  background-color: $secondary-color;
  border-radius: 5px;
  border: 2px solid rgb(11, 122, 176);
  padding: 7px 16px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:hover{
    background-color: rgb(11, 122, 176);
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px){
  .container{
    width: 100%;
  }
}


@import "mobile-styles";
@import "tablet-styles";