$main-color: #FF820F;
$secondary-color: rgb(14, 152, 221);
$footer-background: #282828;

@mixin text-shadow{
  text-shadow: 0 1px 1px black;
}

@mixin gray-section{
  background-color: #F7F7F7;
}

@mixin secondary-font-color{
  color: #7F7F7F;
}