.complex-care{
  @include gray-section;
  padding: 25px 0;
  border-top: 2px solid #DDDDDD;
  border-bottom: 2px solid #DDDDDD;
  &__title{
    font-family: $primary-font;
    font-size: 30px;
    color: black;
    text-align: center;
    text-transform: uppercase;
  }
  &__subtitle{
    @extend .quality__text;
    text-shadow: none;
    text-align: center;
    margin-bottom: 38px;
  }
  &-cases{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    &__item{
      width: 85%;
      p{
        font-family: $headers-font-bold;
        font-size: 18px;
        color: rgb(51, 51, 51);
        text-align: center;
      }
    }
  }
}