.causes{
  padding: 25px 0;
  &__title{
    @extend .quality__text;
    text-shadow: none;
    text-align: center;
    font-size: 30px;
    margin: 30px 0 45px;
    text-transform: uppercase;
  }
  &-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    $i: 1;
    $j: 1;
    @for $item from 1 through 10 {
        &__item:nth-child(#{$item}) {
        grid-row: 1;
        grid-column: $i;
        }
      $i: $i + 1;
    }
    @for $item from 6 through 10{
      &__item:nth-child(#{$item}) {
        grid-row: 2;
        grid-column: $j;
      }
      $j: $j + 1;
    }
    &__item{
      img{
        width: 84%;
        display: block;
        margin: auto;
      }
      p{
        text-align: center;
        font-family: $headers-font-regular;
        font-size: 16px;
        color: rgb(51, 51, 51);
        line-height: 20px;
        padding: 0 10px;
      }
    }
  }
}